{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-useless-call": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "global-require": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  },
  "globals": {
    "E": true,
    "reset": true
  }
}
